
#prompts_container_div
{
/* border: 1px solid yellow; */
}

#prompts_div
{
margin: 0px 0px 20px 0px;
padding: 20px;
/* border: 1px solid maroon; */
}

.prompt_txt
{
margin: 0px;
padding: 10px;
width: 90%;
height: 160px;
background: whitesmoke;
border: 1px solid lightgrey;
resize: vertical;
}



